@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

*{
    padding: 0;
    margin: 0 ;
}

#banner_area  {
    top: 0;
    position: sticky;
    background-color: black;
    height: 100vh;
    pointer-events: all;
    opacity: 1;
    background-size: contain; /* This will ensure that the lines image fits within the canvas without stretching */
}
#smoke_canvas {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Ensures it's below the image */
}

#banner_lines_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 100% of the viewport width */
    height: 100%; /* 100% of the viewport height */
    pointer-events: none;
    z-index: 2; /* Ensures it's above the canvas */
}

#home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}




#title{
    /*position : absolute;*/
    font-size: 6vw;

    font-weight: bold; /* Makes the text bold */
    color: #fdbf00; /* Choose a color that stands out against your background */
    text-shadow: 2px 2px 4px #000000; /* Optional: Adds a subtle shadow for depth */
    text-align: center; /* Centers the text horizontally */
    margin: 0; /* Removes default margin */
    padding: 20px 0; /* Adds vertical padding, adjust as needed */
    font-family: 'Lato', sans-serif; /* You can choose a different font that matches your style */
    letter-spacing: 1px; /* Adjusts spacing between letters */
    text-transform: uppercase; /* Optional: transforms text to uppercase for more impact */
    transition: color 0.3s ease; /* Smooth transition for hover effects, if any */
    z-index: 3; /* Places the text above everything else */
    pointer-events: none;



}

#tagline{
    /*position: absolute;*/
    font-size: 4vw;
    font-weight: bold; /* Makes the text bold */
    color: #FFFFFF; /* Choose a color that stands out against your background */
    text-shadow: 2px 2px 4px #000000; /* Optional: Adds a subtle shadow for depth */
    text-align: center; /* Centers the text horizontally */
    margin: 0; /* Removes default margin */
    padding: 20px 0; /* Adds vertical padding, adjust as needed */
    font-family: 'halvetica', sans-serif; /* You can choose a different font that matches your style */
    letter-spacing: 1px; /* Adjusts spacing between letters */

    transition: color 0.3s ease; /* Smooth transition for hover effects, if any */
    z-index: 3; /* Places the text above everything else */
    pointer-events: none;

}


#cta{
    font-size: 2em;
    font-weight: bold; /* Makes the text bold */
    color: #FFFFFF; /* Choose a color that stands out against your background */
    text-shadow: 2px 2px 4px #000000; /* Optional: Adds a subtle shadow for depth */
    text-align: center; /* Centers the text horizontally */
    margin: 0; /* Removes default margin */
    padding: 20px 0; /* Adds vertical padding, adjust as needed */
    font-family: 'pr', sans-serif; /* You can choose a different font that matches your style */
    letter-spacing: 1px; /* Adjusts spacing between letters */

    transition: color 0.3s ease; /* Smooth transition for hover effects, if any */
    z-index: 3; /* Places the text above everything else */
    pointer-events: none;

}


#interaction-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire content area */
    height: 100%;
    z-index: 10; /* Ensure this is above your content */
    pointer-events: none; /* Start with pointer events disabled */
}
















/* -----------------Responsive Web Design-------------------- */

@media screen and (max-width: 768px) {
    #title{
        font-size: 2em; /* Smaller font size on smaller screens */
    }
}

